{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "halls" %}{% endblock title %}
{% block content %}
<h2>{% trans "halls" %}</h2>
<div class="row" style="margin: 10px">
	<form method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		<table>
			<tbody>																	
				<tr>
					<td>
						<p>{% trans "hall_title" %} &nbsp;</p>
					</td>
					<td>
						<p><input type="search" value="{{title_search}}" name="title_search"></p>		
					</td>
					<td>
						<p><button class="btn btn-outline-success" name="searchBtn" style="width:120px; margin:5px">{% trans "Search" %}</button></p>		
					</td>
					<td>
						<p><button class="btn btn-outline-primary" name="resetBtn" type="submit" onClick="window.location.reload();" style="width:120px; margin:5px">{% trans "Reset" %}</button></p>		
					</td>
				</tr>
			</tbody>
		</table>				
	</form>
</div>
<hr>
<p><a href="{% url 'hall_create'%}">{% trans "Add" %}</a></p>
<hr>
{% if hall.count > 0 %}
<div class="row">
	<table id="myTable" class="table-manager" style="width:100%">
		<thead>
			<tr>
				<th><p>{% trans "hall_title" %}</p></th>
				<th><p>{% trans "equipment" %}</p></th>
				<th><p></p></th>				
			</tr>
		</thead>
		<tbody>
			{% for e in hall %}
			<tr>
				<td><p>{{ e.hall_title }}</p></td>	
				<td><p>{{ e.equipment }}</p></td>	
				<td>						
					<p>
					<a href="{% url 'hall_edit' e.id %}">{% trans "Change" %}</a> |
					<a href="{% url 'hall_read' e.id %}">{% trans "View" %}</a> |
					<a onclick="return confirm('Удалить запись?')" href="{% url 'hall_delete' e.id %}">{% trans "Delete" %}</a>
					</p>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endif %}
{% endblock content %}

