{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "View" %}{% endblock title %}
{% block content %}
<h2>{% trans "party_members" %}</h2>
<div class="row justify-content-center">
	<div class="card" style="width:100%">
		<div class="card-header">	
		</div>
		<div class="card-body">
			<p><strong>{% trans "party_title" %}: </strong>{{ party_members.party }}</p>			
			<p><strong>{% trans "client" %}: </strong>{{ party_members.client }}</p>			
		</div>
		<div class="card-footer">				
		</div>		
	</div>
	<br>
	<div class="div-button-center">
		<a class="btn btn-outline-info" style="width:120px" href="{% url 'party_members_index' %}">{% trans "Back" %}</a> 	
	</div>	
</div>
{% endblock content %}